<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<head>
	<title>Blog Detail</title>
	<link rel="stylesheet" href="/css/blog.css">
</head>

<body>
	<div layout:fragment="content">
		<div class="container">
			<div class="mb-4">
				<a th:href="@{/blog/home}" class="btn btn-secondary">&larr; Back to Blog List</a>
			</div>
			<div class="blog-detail">

				<h1 class="text-center mb-4 fw-bold" th:text="${blog.title}"></h1>

				<p class="text-muted text-center mb-4">
					<span th:text="'Created At: ' + ${blog.createdAt}"></span> |
					<span th:text="'Author: ' + ${blog.author}"></span>
				</p>

				<div class="text-center mb-4">
					<img th:src="${blog.imagePath}" class="fixed-size-image" alt="Blog Image">
				</div>

				<div class="blog-content">
					<p th:utext="${blog.content}"></p>
				</div>
			</div>
		</div>
	</div>
</body>

</html>
