<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<head>
	<title>Blog Page</title>
	<link rel="stylesheet" href="/css/blog.css">
	<script th:src="@{/js/blog.js}" defer></script>
</head>

<body>
	<div layout:fragment="content">
		<h1 class="text-center text-white bg-secondary py-3 rounded">Blog List</h1>
		<div class="input-group mb-3">
			<input type="text" id="search-input" class="form-control" placeholder="Search Blogs">
			<button id="search-button" class="btn btn-primary">Search</button>
		</div>
		<div class="container my-5">
			<div class="row row-cols-1 row-cols-md-3 g-4">
				
				<div class="col" id="blog-card" th:each="blog : ${blogs}">
					<a th:href="@{/blog/{id}(id=${blog.id})}" class="text-decoration-none text-dark">
						<div class="card h-100 shadow">
							<img th:src="${blog.imagePath}" class="card-img-top" alt="Blog Image">
							<div class="card-body">
								<h3 class="card-title" th:text="${blog.title}"></h3>
								<p class="card-text text-muted" th:text="'Created At: ' + ${blog.createdAt}"></p>
								<p class="fw-bold card-text" th:text="${blog.author}"></p>
							</div>
						</div>
					</a>
				</div>
				
			</div>
		</div>
	</div>
</body>

</html>
