<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>layout Example</title>
	<!-- Bootstrap CSS from WebJars -->
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	<!-- Custom Styles -->
	<link rel="stylesheet" href="/css/layout.css">
	<!-- jQuery and Bootstrap JS from WebJars -->
	<script th:src="@{/webjars/jquery/jquery.min.js}" defer></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>
</head>

<body>
	<header th:replace="layout/fragments/header :: header"></header>

	<main class="container mt-4">
		<div layout:fragment="content"></div>
	</main>

	<footer th:replace="layout/fragments/footer :: footer"></footer>


</body>

</html>
