<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>layout Example</title>
	<!-- Bootstrap CSS from WebJars -->
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	<!-- Custom Styles -->
	<link rel="stylesheet" href="/css/layout.css">
	<link rel="stylesheet" href="/css/sidebar.css">
	<!-- jQuery and Bootstrap JS from WebJars -->
	<script th:src="@{/webjars/jquery/jquery.min.js}" defer></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>
	<script src="https://cdn.jsdelivr.net/npm/markdown-it@13.0.1/dist/markdown-it.min.js"></script>
</head>

<body>
	<header th:replace="layout/fragments/header :: header"></header>

	<div class="container-fluid mt-4">
		<div class="row">
			<!-- Sidebar -->
			<div th:replace="layout/fragments/sidebar :: sidebar"></div>

			<!-- Main Content -->
			<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
				<div layout:fragment="content"></div>
			</main>
		</div>
	</div>

	<footer th:replace="layout/fragments/footer :: footer"></footer>
</body>

</html>