<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.BlogMapper">

	<resultMap id="BlogResultMap" type="com.example.demo.model.entity.BlogEntity">
		<id property="id" column="id" />
		<result property="title" column="title" />
		<result property="content" column="content" />
		<result property="author" column="author" />
		<result property="createdAt" column="created_at" />
		<result property="updatedAt" column="updated_at" />
	</resultMap>
	
	<insert id="createOneBlog">
		INSERT INTO blog (
			title,
			content,
			author,
			created_at
		)
		VALUES (
			#{title},
			#{content},
			#{author},
			CURRENT_DATE
	    );
	</insert>
</mapper>