<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.TodoMapper">

	<resultMap id="TodoResultMap"
		type="com.example.demo.repository.entity.TodoEntity">
		<id property="id" column="id" />
		<result property="title" column="title" />
		<result property="isCompleted" column="is_completed" />
		<result property="createdAt" column="created_at" />
		<result property="updatedAt" column="updated_at" />
	</resultMap>
	
	<resultMap id="EditTodoResultMap"
		type="com.example.demo.repository.form.TodoForm">
		<id property="id" column="id" />
		<result property="title" column="title" />
		<result property="description" column="description" />
		<result property="isCompleted" column="is_completed" />
		<result property="createdAt" column="created_at" />
		<result property="updatedAt" column="updated_at" />
	</resultMap>

	<select id="getTodos" resultMap="TodoResultMap">
		SELECT
			id,
			title,
			is_completed,
			created_at,
			updated_at
		FROM
			todo
		ORDER BY
			id
	</select>
	
	<select id="getEditTodo" resultMap="EditTodoResultMap">
		SELECT
			*
		FROM
			todo
		where
			id = #{id}
	</select>
	
	<update id="updateOneTodo">
		UPDATE
			todo
		SET
			title = #{todo.title},
			description = #{todo.description},
			is_completed = #{todo.isCompleted},
			updated_at = CURRENT_DATE
		WHERE
			id = #{todo.id};
	</update>
</mapper>
