<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<head>
	<title>All Todo Page</title>
</head>

<body>
	<div layout:fragment="content">
		<h1 class="text-center text-white bg-secondary py-3 rounded">All Todo List</h1>
		<table class="table table-hover mt-4">
			<thead>
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Title</th>
					<th scope="col">Completed</th>
					<th scope="col">CreatedAt</th>
					<th scope="col">UpdatedAt</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="allTodos : ${allTodos}" th:object="${allTodos}">
					<td th:text="*{id}"></td>
					<td th:text="*{title}"></td>
					<td th:text="*{isCompleted != null ? (isCompleted ? '完了' : '未完了') : '未選択'}"></td>
					<td th:text="*{createdAt}"></td>
					<td th:text="*{updatedAt}"></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>

</html>